# Ignore node_modules and log files
node_modules
npm-debug.log

# Ignore Dockerfile and docker-compose.yml
Dockerfile
docker-compose.yml

# Ignore git repository
.git
.gitignore

# Ignore temp and IDE files
*.swp
*.idea
*.vscode
.DS_Store
